.a-list-button {
  color: #3a3b3c;
  font-size: .8rem;
  font-style: bold;
  font-weight: 600;
  vertical-align: middle;
}

.a-list-data {
  font-size: .65rem;
}

.a-list-yes {
  text-decoration: underline;
}

.a-modal-input {
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 5px 1px 3px 1px;
}

.q-a-list-div {
  max-height: '350px';
  overflow-y: 'scroll';
}

.q-and-a-container {
  background-color: transparent;
  color: #3a3b3c;
  /* display: flex; */
  font-family: sans-serif;
  height: 100%;
  margin-top: 60px;
  max-width: 1280px;
  min-width: 480px;
  padding: 1.5%;
  width: 100%;
}

.q-and-a-title-h3 {
  font-weight: 200;
  width: fit-content;
  margin-bottom: 15px;
}

.q-input-form {
  border: .75px solid #3a3b3c;
  justify-content: space-between;
  padding: 2px 5px;
}

.q-input-label {
  font-style: bold;
}

.q-list-a-element {
  font-weight: 600;
}

.q-list-answer-body {
  font-size: .85rem;
}

.q-list-button {
  border: .75px solid #3a3b3c;
  margin-right: 15px;
  margin-top: 15px;
  padding: 5px;
  vertical-align: middle;
}

.q-list-buttons {
  display: flex;
  min-width: 420px;
}

.q-list-button-text {
  color: #3a3b3c;
  font-size: .95rem;
  font-style: bold;
  font-weight: 600;
  vertical-align: middle;
}

.q-list-div {
  width: 100%;
}

.q-list-q {
  background: transparent;
  color: #3a3b3c;
  justify-content: space-between;
}

.q-list-q-body {
  font-weight: 600;
}

.q-list-q-li {
  display: flex;
  justify-content: space-between;
}

.q-list-span-element {
  font-size: .6rem;
}

.q-list-yes {
  text-decoration: underline;
}

.q-search {
  align-items: center;
  border: 1px solid #3a3b3c;
  display: flex;
  margin-bottom: 7px;
  min-width: 420px;
  padding: 3px;
  padding-left: 7px;
}

.q-search-form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  vertical-align: middle;
  width: 100%;
}

input::placeholder {
  color: #3a3b3c;
  font-style: bold;
  font-weight: 600;
}

.q-search-image {
  max-width: 40%;
}

.q-search-input {
  color: #3a3b3c;
  min-height: 20px;
  min-width: 460px;
  vertical-align: middle;
  width: fill;
}

.q-search-label {
  width: fill;
}

.q-ul {
  border: thin solid;
}