#container, #header {
    max-width: 1280px;
    min-width: 480px;
}
#productImage {
    height: 500px;
}
#productSelector {
    height: 500px;
    background-color: rgb(139, 139, 75);
}
#feature {
    border-left: 1px solid black;
}
#imageWheel {
    position: absolute;
}

#imageWheel img {
    max-height: 85px;
}
