#container, #header {
    max-width: 1280px;
    min-width: 480px;
}

#productImage {
    height: 650px;
    background-color: #bbbfc3;
}
#productSelector {
    min-height: 650px;
}
#feature {
    border-left: 1px solid black;
}
#imageWheel {
    position: absolute;
}
#scrollImg {
    width: 100px;
    height: 120px;
}

#imageWheel img {
    max-height: 100px;
}
#styleThumbNail {
    height: 100px;
    width: 100px;
}
#selector select {
    width: 200px;
}
