.scroller {
  margin: 0 auto;
  max-height: 100vh;
  max-height: 550px;
  overflow-y: scroll;
  width: 100%;
}

#reviews-container {
  display: flex;
  height: 100%;
  max-width: 1280px;
  min-width: 480px;
  padding: 1.5%;
  width: 100%;
}

.reviewsList-outer {
  width: 100%;
}

#ratingBreakdown-container {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  min-width: 300px;
}

#ratingBreakdown-title {
  width: fit-content;
}

#reviewCount {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1%;
  position: relative;
}

.reviewTile-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border: 0.25px solid #bbbfc32f;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-around;
  margin: 10px;
  min-height: 200px;
  padding: 15px;
  width: 95%;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.reviewSummary {
  font-size: 1.1em;
  margin: 2px 0 2px;
  max-width: 60ch;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reviewBody {
  margin: 5px 0 5px;
}

.reviewHelpful {
  font-size: 0.9em;
  align-self: flex-end;
  width: fit-content;
}

.reviewButtons-container {
  display: flex;
  justify-content: center;
}

.reviewButtons {
  border: 0.5px solid black;
  margin: 1%;
  padding: 1.5%;
}

.sellerResponse {
  background-color: #bbbfc34b;
  border-radius: 3px;
  margin: 10px 0 10px;
  padding: 10px;
  width: fit-content;
  max-width: 100%;
}

.helpfulness-buttons {
  text-decoration: underline;
}

#rating-summary {
  display: flex;
  align-items: flex-start;
}

#averageRating {
  font-size: 4em;
  font-weight: bold;
}

.requiredInput {
  color: red;
}

.starsRating-label {
  align-self: center;
  padding-bottom: 20px;
}

.formStars-label {
  padding-top: 10px;
}


.labels-container {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  margin-left: 25px;
  width: 200px;
}

.labels-modalChars {
  display: flex;
  margin-left: 38px;
  padding-bottom: 5px;
  width: 200px;
}

div#star-breakdown > div {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px;
  width: fit-content;
}

div#characteristics-breakdown > div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.percentageBar {
  display: inline-flex;
  height: 10px;
  padding-left: 10px;
}

.percentageBar-container {
  display: flex;
  padding: 3px;
}

.breakdownBars {
  -webkit-appearance: none;
  display: inline-block;
  max-width: 250px;
  min-width: 220px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid  #999fa5;
  cursor: pointer;
  height: 0;
  margin-top: -14px;
  width: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  background:  #bbbfc34b;
  border-radius: 5px;
  border: 0.1px solid lightgray;
  cursor: pointer;
  height: 8px;
  width: 100%;
}

#ratingBreakdownStars {
  padding-top: 25px;
}

#star-breakdown div {
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

#star-breakdown div:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.star-filter {
  display: inline-flex;
  text-decoration: underline;
}

.percentRec {
  width: 95%;
}

.progress {
  border-radius: 5px;
  display: inline-block;
  height: 17px;
  margin-left: 10px;
  margin-top: 5px;
  width: 190px;
}

#recommendProduct {
  width: fit-content;
}

div#reviewCount > select {
  background-color: white;
  font-weight: bold;
  text-decoration: underline;
}

.reviewCount-span {
  font-size: 0.85em;
  margin-left: 5px;
  margin-top: 1px;
}

.factorLabels {
  display: inline-block;
  margin-left: 5px;
  margin-right: 8px;
  min-width: 60px;
  text-decoration: underline;
}

/* modal CSS  */
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  min-height: 700px;
  min-width: 550px;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation-duration: 0.4s;
  animation-name: animatetop;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  margin: 5% auto;
  min-width: 500px;
  position: relative;
  width: 48%;
}

.modal-header {
  background-color: #bbbfc32f;
  height: 85px;
  padding: 15px;
  text-align: center;
}

.modal-header h3 {
  font-size: 1.5em;
}

.modal-header h5 {
  font-size: 1.2em;
}

.modal-body {
  height: fit-content;
}

#innerForm-container {
  padding: 15px;
}

/* submit review button on modal */
#submitReview {
  background-color: #bbbfc32f;
  border: 0.5px solid #999fa5;
  float: right;
  margin-top: 6px;
  margin-right: 35px;
  margin-bottom: 15px;
  padding: 10px;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* add new review form on modal */
#userRating-star {
  padding: 0px;
}

#form-container {
  max-height: 80%;
  margin: 0 auto;
  margin: 10px;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.mainForm-header {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
}

input[type="radio"] {
  margin: 10px 10px 10px 10px;
}

input[type="file"] {
  color: white;
}

.reviewInput {
  border-color: #bbbfc34b;
  border-width: 0.5px;
  border-radius: 3px;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.userImages-modal {
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 450ms;
  position: relative;
}

.userPhotos-addReview {
  display: none;
}

.userImages, .userPhotos-addReview {

  max-width: 100px;
  max-height: 120px;
  object-fit: contain;
  margin: 3px;
  border-radius: 5px;
}

.userImages:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  cursor: pointer;
  transform: scale(1.05);
}

.addReview-warnings {
  font-size: 0.8em;
}

.userImages-container {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  border: 1px solid #bbbfc34b;
  width: fit-content;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.img-modal-content {
  position: relative;
}

.img-modal {
  display: none;
  position: fixed;
  z-index: 2;
  min-width: 500px;
  padding-top: 6%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.793);
}

.img-close {
  position: absolute;
  top: 20%;
  left: 30%;
  align-content: center;
  color: #f1f1f1;
  width: 500px;
  height: 400px;
  object-fit: cover;
  font-size: 40px;
  font-weight: bold;
  transition: 0.2s;
}

#applied-filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.filter-on {
  font-size: 0.9em;
  height: 28px;
  background-color: #bbbfc34b;
  width: fit-content;
  border-radius: 8px;
  margin: 3px;
  padding: 5px;
  max-height: 35px;
}
#removeFilters-container {
  width: 250px;
}

#removeFilters-btn {
  display: none;
  min-width: 250px;
  text-align: center;
  background-color: #bbbfc34b;
  font-size: 0.85em;
  margin: 3px;
  border-radius: 8px;
  padding: 5px;
  max-height: 35px;
}

.searchBar {
  padding: 3px;
  padding-left: 7px;
  border-radius: 15px;
}

.searchDropdowns {
  min-width: 260px;
  position: relative;
  top: 0;
  left: 30%;
}

.searchBar-container {
  display: flex;
  min-width: 208px;
  border-radius: 15px;
  border: 0.5px solid #bbbfc34b;
  background-color: #bbbfc34b;
}

button#searchBar-btn > img {
  padding: 2px;
  height: 25px;
  width: 25px;
}

.searchReviews-container {
  position: absolute;
  top: 0;
  right: 4%;
}

@media (max-width: 1125px) {
  #reviewcount {
    flex-direction: column;
  }
  .searchDropdowns {
    left: 2%;
  }
}

@media (max-width: 841px) {
  #reviews-container {
    justify-content: center;
  }
  #reviewCount {
    flex-direction: column;
  }
  .searchDropdowns, .searchReviews-container {
    position: static;
  }
  #ratingBreakdown-container {
    transform: scale(0.9);
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 650px) and (max-width: 760px) {
  #ratingBreakdown-container {
    transform: scale(0.85);
  }
  #reviewsList-outer {
    transform: scale(0.9);
  }
}

@media (min-width: 540px) and (max-width: 650px) {
  #reviews-container {
    transform: scale(0.8);
  }
}

@media (min-width: 200px) and (max-width: 540px) {
  #reviews-container {
    transform: scale(0.65);
    justify-content: center;
    font-size: 1.15em;
  }
}

