
.scroller {
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
  margin: 0 auto;
  height: 550px;
}

#reviews-container {
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 1280px;
  min-width: 480px;
  max-height: 600px;
}

#reviewsList-container {
  width: 100%;
  max-height: 550px;
}

#ratingBreakdown-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  height: 600px;
}

#ratingBreakdown-title {
  width: 100%;
  height: 10px;
}

#reviewCount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
  height: 40px;
  width: 900px;
}

.reviewTile-container {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-left: white;
  border-right: white;
  border-top: white;
  border-width: 0.5px;
  justify-content: space-between;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.reviewSummary {
  padding-bottom: 5px;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60ch;
  font-size: 1.1em;
}

.reviewBody {
  margin-top: 7px;
  margin-bottom: 7px;
}

.reviewHelpful, .reviewHeader {
  padding: 5px;
  font-size: 0.9em;
}

.reviewButtons {
  border: solid;
  border-width: 1px;
  padding: 15px;
  margin: 10px;
}

.reviewButtons-container {
  display: flex;
  justify-content: center;
}

.sellerResponse {
  background-color: #bbbfc34b;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: fit-content;
}

.helpfulness-buttons {
  text-decoration: underline;
}

#rating-summary {
  display: flex;
  align-items: flex-start;
}

#averageRating {
  font-size: 4em;
  font-weight: bold;
}

.requiredInput {
  color: red;
}

.star-rating {
  margin: 10px;
  padding-top: 15px;
}

.starsRating-label {
  align-self: center;
  padding-left: 3px;
}

.labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  width: 200px;
  margin-left: 25px;
}

.labels-modalChars {
  margin-left: 38px;
  display: flex;
  width: 200px;
  padding-bottom: 5px;
}

div#star-breakdown > div {
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
  padding: 2px;
}

div#characteristics-breakdown > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.percentageBar {
  padding-left: 10px;
  height: 10px;
  display: inline-flex;
}

.percentageBar-container {
  display: flex;
  padding: 3px;
}

.breakdownBars {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid  #bbbfc3fe;
  height: 0;
  width: 0;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  background:  #bbbfc34b;
  border-radius: 5px;
  border: 0.1px solid lightgray;
}

#ratingBreakdownStars {
  padding-top: 25px;
}

#star-breakdown div {
  box-shadow: inset 0 0 0 0 #bbbfc34b;
  color: #070808;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#star-breakdown div:hover {
  box-shadow: inset 300px 0 0 0 #bbbfc34b;
  color: rgb(0, 0, 0);
  border-radius: 3px;
}

.star-filter {
  display: inline-flex;
  text-decoration: underline;
}

.progress {
  display: inline-block;
  width: 190px;
  height: 17px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

div#reviewCount > select {
  background-color: white;
  font-weight: bold;
  text-decoration: underline;
}

.reviewCount-span {
  margin-left: 5px;
  margin-top: 1px;
  font-size: 0.9em;
}

.factorLabels {
  text-decoration: underline;
  display: inline-block;
  margin-right: 8px;
  min-width: 60px;
  margin-left: 5px;
}

/* modal CSS  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 550px;
  min-height: 700px;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: block;
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  width: 45%;
  min-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
  height: 85px;
  text-align: center;
  padding: 15px;
  background-color: #bbbfc32f;
}

.modal-header h3 {
  font-size: 1.5em;
}

.modal-header h5 {
  font-size: 1.2em;
}
.modal-body {
  height: fit-content;
}

#submit-container {
  height: 85px;
  padding: 15px;
  background-color:#bbbfc32f;
  width: 100%;
}

#innerForm-container {
  padding: 15px;
}

/* submit review button on modal */
#submitReview {
  padding: 10px;
  margin-top: 6px;
  border: solid;
  border-width: 0.5px;
  float: right;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* add new review form on modal */
#user-starRating {
  padding-left: 0px;
}

#form-container {
  margin: 10px;
  width: 100%;
  overflow-y: scroll;
  max-height: 100%;
  margin: 0 auto;
  height: 700px;
}

.mainForm-header {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

input[type="radio"] {
  margin: 10px 10px 10px 10px;
}

input[type="file"] {
  color: white;
}

.reviewInput {
  border-color: #bbbfc34b;
  border-width: 0.5px;
  border-radius: 3px;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.userImages-modal {
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 450ms;
  position: relative;
}

.userImages, .userPhotos-addReview {
  max-width: 100px;
  max-height: 120px;
  object-fit: contain;
  padding: 3px;
  border-radius: 5px;
}

.userImages-container {
  display: flex;
  align-items: center;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.img-modal-content {
  position: relative;
}

.img-modal {
  display: none;
  position: fixed;
  z-index: 999;
  min-width: 500px;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.793);
}

.img-close {
  position: absolute;
  top: 0vh;
  right: 25vw;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.2s;
}

@media only screen and (max-width: 700px) {
  .userImages-modal {
    width: 100%;
  }
}
#applied-filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.filter-on {
  font-size: 0.9em;
  height: 28px;
  background-color: #bbbfc34b;
  width: fit-content;
  border-radius: 8px;
  margin: 3px;
  padding: 5px;
  max-height: 35px;
}
#removeFilters-container {
  width: 250px;
}

#removeFilters-btn {
  display: none;
  min-width: 250px;
  text-align: center;
  background-color: #bbbfc34b;
  font-size: 0.85em;
  margin: 3px;
  border-radius: 8px;
  padding: 5px;
  max-height: 35px;
}

.searchBar {
  padding: 3px;
  padding-left: 7px;
  border-radius: 15px;
}

.searchDropdowns {
  min-width: 260px;
  margin-right: 20%;
  margin-left: 35%;
}

.searchBar-container {
  display: flex;
  width: 208px;
  border-radius: 15px;
  border: 0.5px solid #bbbfc34b;
  background-color: #bbbfc34b;
  margin-left: -30%;
}

button#searchBar-btn > img {
  padding: 2px;
  height: 25px;
  width: 25px;
}

.searchReviews-container {
  display: inline-block;
  margin-left: 10px;
}