
.scroller {
  margin: 0 auto;
  max-height: 100vh;
  max-height: 550px;
  overflow-y: scroll;
  width: 100%;
}

#reviews-container {
  display: flex;
  height: 650px;
  max-width: 1280px;
  min-width: 480px;
  padding: 1.5%;
  width: 100%;
}

#reviewsList-container {
  width: 100%;
}


#ratingBreakdown-container {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  min-width: 23%;
  width: 25%;
}

#ratingBreakdown-title {
  width: 100%;
}

#reviewCount {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1%;
  position: relative;
}

.reviewTile-container {
  border-color: white white black;
  border-width: 0.5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  min-height: 250px;
  padding-bottom: 1%;
  padding: 1% 0 1%;
  width: 100%;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  padding: 1% 0 1%;
}

.reviewSummary {
  font-size: 1.1em;
  margin: 2px 0 2px;
  max-width: 60ch;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reviewBody {
  margin: 5px 0 5px;
}

.reviewHelpful, .reviewHeader {
  font-size: 0.9em;
}

.reviewButtons-container {
  display: flex;
  justify-content: center;
}

.reviewButtons {

  border: 0.5px solid black;
  margin: 1%;
  padding: 1.5%;
}

.sellerResponse {
  background-color: #bbbfc34b;
  border-radius: 3px;
  margin: 10px 0 10px;
  padding: 10px;
  width: fit-content;
}

.helpfulness-buttons {
  text-decoration: underline;
}

#rating-summary {
  display: flex;
  align-items: flex-start;
}

#averageRating {
  font-size: 4em;
  font-weight: bold;
}

.requiredInput {
  color: red;
}

.starsRating-label {
  align-self: center;
  padding-bottom: 20px;
}

.labels-container {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  margin-left: 25px;
  width: 200px;
  /* max-width: 200px;
  min-width: 200px; */
}

.labels-modalChars {
  display: flex;
  margin-left: 38px;
  padding-bottom: 5px;
  width: 200px;
}

div#star-breakdown > div {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px;
  width: fit-content;
}

div#characteristics-breakdown > div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.percentageBar {
  display: inline-flex;
  height: 10px;
  padding-left: 10px;
}

.percentageBar-container {
  display: flex;
  padding: 3px;
}

.breakdownBars {
  -webkit-appearance: none;
  display: inline-block;
  max-width: 245px;
  min-width: 220px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid  #999fa5;
  cursor: pointer;
  height: 0;
  margin-top: -14px;
  width: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  background:  #bbbfc34b;
  border-radius: 5px;
  border: 0.1px solid lightgray;
  cursor: pointer;
  height: 8px;
  width: 100%;
}

#ratingBreakdownStars {
  padding-top: 25px;
}

#star-breakdown div {
  box-shadow: inset 0 0 0 0 #bbbfc34b;
  color: #070808;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#star-breakdown div:hover {
  border-radius: 3px;
  box-shadow: inset 300px 0 0 0 #bbbfc34b;
  color: rgb(0, 0, 0);
}

.star-filter {
  display: inline-flex;
  text-decoration: underline;
}

.percentRec {
  width: fit-content;
}

.progress {
  border-radius: 5px;
  display: inline-block;
  height: 17px;
  margin-left: 10px;
  margin-top: 5px;
  width: 190px;
}

div#reviewCount > select {
  background-color: white;
  font-weight: bold;
  text-decoration: underline;
}

.reviewCount-span {
  font-size: 0.9em;
  margin-left: 5px;
  margin-top: 1px;
}

.factorLabels {
  display: inline-block;
  margin-left: 5px;
  margin-right: 8px;
  min-width: 60px;
  text-decoration: underline;
}

/* modal CSS  */
.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  min-height: 700px;
  min-width: 550px;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation-duration: 0.4s;
  animation-name: animatetop;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  margin: 5% auto;
  min-width: 500px;
  position: relative;
  width: 48%;
}

.modal-header {
  background-color: #bbbfc32f;
  height: 85px;
  padding: 15px;
  text-align: center;
}

.modal-header h3 {
  font-size: 1.5em;
}

.modal-header h5 {
  font-size: 1.2em;
}
.modal-body {
  height: fit-content;
}

#submit-container {
  background-color:#bbbfc32f;
  height: 85px;
  padding: 15px;
  width: 100%;
}

#innerForm-container {
  padding: 15px;
}

/* submit review button on modal */
#submitReview {
  border: 0.5px solid black;
  float: right;
  margin-top: 6px;
  padding: 10px;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* add new review form on modal */
#user-starRating {
  padding-left: 0px;
}

#form-container {
  /* height: 700px; */
  max-height: 80%;
  margin: 0 auto;
  margin: 10px;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.mainForm-header {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
}

input[type="radio"] {
  margin: 10px 10px 10px 10px;
}

input[type="file"] {
  color: white;
}

.reviewInput {
  border-color: #bbbfc34b;
  border-width: 0.5px;
  border-radius: 3px;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.userImages-modal {
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 450ms;
  position: relative;
}

.userImages, .userPhotos-addReview {
  max-width: 100px;
  max-height: 120px;
  object-fit: contain;
  padding: 3px;
  border-radius: 5px;
}

.userImages-container {
  display: flex;
  align-items: center;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.img-modal-content {
  position: relative;
}

.img-modal {
  display: none;
  position: fixed;
  z-index: 2;
  min-width: 500px;
  padding-top: 6%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.793);
}

.img-close {
  position: absolute;
  top: 30%;
  left: 30%;
  align-content: center;
  color: #f1f1f1;
  width: 500px;
  height: 400px;
  object-fit: cover;
  font-size: 40px;
  font-weight: bold;
  transition: 0.2s;
}

@media only screen and (max-width: 700px) {
  .userImages-modal {
    width: 100%;
  }
}
#applied-filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.filter-on {
  font-size: 0.9em;
  height: 28px;
  background-color: #bbbfc34b;
  width: fit-content;
  border-radius: 8px;
  margin: 3px;
  padding: 5px;
  max-height: 35px;
}
#removeFilters-container {
  width: 250px;
}

#removeFilters-btn {
  display: none;
  min-width: 250px;
  text-align: center;
  background-color: #bbbfc34b;
  font-size: 0.85em;
  margin: 3px;
  border-radius: 8px;
  padding: 5px;
  max-height: 35px;
}

.searchBar {
  padding: 3px;
  padding-left: 7px;
  border-radius: 15px;
}

.searchDropdowns {
  min-width: 260px;
  position: relative;
  top: 0;
  left: 38%;
}

.searchBar-container {
  display: flex;
  min-width: 208px;
  border-radius: 15px;
  border: 0.5px solid #bbbfc34b;
  background-color: #bbbfc34b;
}

button#searchBar-btn > img {
  padding: 2px;
  height: 25px;
  width: 25px;
}

.searchReviews-container {
  position: absolute;
  top: 0;
  right: 0;
}

/* @media only screen and (max-width: 1150px) {
  #reviews-container {
    transform: scale(0.8);
    left: 0;
  }
}

@media only screen and (max-width: 1000) {
  #reviews-container {
    transform: scale(0.6);
    left: 0;
  }
} */

@media only screen and (max-width: 480px) {
  #reviews-container {
    flex-direction: column;
    min-height: max-content;
  }
  #reviewCount {
    margin-bottom: 2%;
  }
  #ratingBreakdown-container {
    min-width: 480px;
    align-items: center;
    justify-content: center;
    transform: scale(1.12);
  }
  #ratingBreakdown-container {
    margin-bottom: 15%;
  }
  #star-breakdown {
    padding-bottom: 5px;
  }
  #rating-summary, #ratingBreakdown-title {
    transform: scale(1.2);
    position: relative;
    left: 13%;
  }
  .percentRec {
    position: relative;
    right: 17%;
  }
  #characteristics-breakdown {
    padding-top: 20px;
    transform: scale(1.2);
    margin-bottom: 5%;
  }
  #reviewsList-container {
    min-width: 480px;
    font-size: 1.2em;
    min-height: fit-content;
  }
  .reviewsList-outer {
    min-height: fit-content;
  }
  #review-count {
    flex-direction: column;
    align-items: space-between;
  }
  .searchReviews-container {
    position: relative;
    right: 1.5%;
  }
  .searchDropdowns {
    left: 0;
    font-size: 1.2em;
    text-align: center;
  }
  .progress, .breakdownBars, .labels-container {
    min-width: 350px;
  }
  .labels-container {
    margin-left: 0;
  }
  #star-breakdown div:hover {
    box-shadow: inset 438px 0 0 0 #bbbfc34b;
    color: rgb(0, 0, 0);
    border-radius: 3px;
  }
}